/* ESTILOS GENERALES */

body {
  font-family: Arial, sans-serif;
  background: white;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: white;
  margin: 0;
  padding: 10px;
  line-height: 26px;
}

header {
  background-image: url(./Imagenes/rueda-dentada-mecanica.avif);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin-bottom: 1%;
  padding: 15px;
  text-align: center;
  color: white;
  line-height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

header h1 {
  margin: 0;
  font-size: 35px;
  margin-bottom: -2%;
  margin-top: 5px;
}

h2{
  text-align: center;
  color: white;
  padding: 5px;
  border-radius: 10px;
  font-size: 32px;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.9)
}

h3{
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  margin-top: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin-top: -2%;
}

nav ul li {
  display: inline-block;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  margin: 0px;
}

section {
  margin-bottom: 40px;
  background-color: #0d2f44;
  padding: 20px;
  border-radius: 10px;
}

/* IMÁGENES DE EXPERIENCIA LABORAL*/

/* Centrar imagen y descripción */
.image-container {
  text-align: center; /* Centra la imagen y el texto debajo */
  margin: 20px 0; /* Añade espacio alrededor del contenedor */
}

.image-container img {
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.image-container p {
  margin-top: 10px; /* Añade espacio entre la imagen y el texto */
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
  .image-container img {
      width: 100%; /* Asegura que la imagen ocupe el 100% del ancho en dispositivos pequeños */
  }
}

/*CERTIFICADOS:*/

/* Centrar imagen y descripción */
.image-certificado {
  text-align: center; /* Centra la imagen y el texto debajo */
  margin: 20px 0; /* Añade espacio alrededor del contenedor */
}

.image-certificado img {
  max-width: 60%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.image-certificado p {
  margin-top: 10px; /* Añade espacio entre la imagen y el texto */
}

/* Estilos responsivos para móviles */
@media (max-width: 768px) {
  .image-certificado img {
      width: 100%; /* Asegura que la imagen ocupe el 100% del ancho en dispositivos pequeños */
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
  }
}

/*ÍTEM PROGRAMACIÓN - IMÁGENES */

/* Contenedor de imágenes */
.image-programacion {
  display: flex;
  justify-content: space-around; /* Distribuye las imágenes con espacio entre ellas */
  flex-wrap: wrap; /* Permite que las imágenes se ajusten en pantallas más pequeñas */
  gap: 0px; /* Añade espacio entre las imágenes */
  margin-top: 40px;
}

.image-item {
  text-align: center; /* Centra la descripción con respecto a la imagen */
  max-width: 45%; /* Ajusta el ancho máximo de cada imagen y descripción */
}

.image-item img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 500px; /* La altura se ajusta automáticamente */
  aspect-ratio: 16 / 10.7; /* Establece una proporción de aspecto uniforme */
  object-fit: cover; /* Recorta la imagen si es necesario para que encaje en la proporción */
  margin-top: -15px;
}

/* Estilo responsivo para móviles */
@media (max-width: 768px) {
  .image-item {
    max-width: 100%; /* Las imágenes ocupan el ancho completo en pantallas pequeñas */
    flex-direction: column; /* Coloca las imágenes una debajo de la otra en dispositivos móviles */
  }
}


/*ÍTEM DÍA DEL TÉCNICO - IMÁGENES

/* Contenedor de imágenes */
.image-diadeltecnico {
  display: flex;
  justify-content: space-around; /* Distribuye las imágenes con espacio entre ellas */
  flex-wrap: wrap; /* Permite que las imágenes se ajusten en pantallas más pequeñas */
  gap: 20px; /* Añade espacio entre las imágenes */
  margin-top: 40px;
}

.image-item {
  text-align: center; /* Centra la descripción con respecto a la imagen */
  max-width: 45%; /* Ajusta el ancho máximo de cada imagen y descripción */
}

.image-item img {
  max-width: 100%; /* La imagen no supera el contenedor */
  height: 500px; /* Mantiene la proporción de la imagen */
  object-fit: cover; /* Recorta la imagen si es necesario para que encaje en la altura */
}

/* Estilo responsivo para móviles */
@media (max-width: 768px) {
  .image-item {
    max-width: 100%; /* Las imágenes ocupan el ancho completo en pantallas pequeñas */
  }
}

/* HAGO QUE LAS NOTAS ENTRE SECCIONES ESTEN MAS CERCA */

  .image-item img {
    height: auto; /* Elimina la altura fija para que las imágenes se adapten automáticamente */
    object-fit: contain; /* Asegura que la imagen completa sea visible sin recortes */
  }

  section#blog {
    margin-bottom: 10px; /* Ajusta este valor según el espacio que desees */
    padding: 10px; /* Puedes también reducir el padding si es necesario */
}

/*CAMBIO EL COLOR DE LOS LINKS VER NOTA COMPLETA EN LA SECCIÓN BLOG*/

#blog a {
  color: #ffcc00; /* Cambia a un color que prefieras solo para los enlaces del blog */
  text-decoration: none; /* Opcional para quitar el subrayado */
}

#blog a:hover {
  color: #ffffff; /* Cambio el color cuando el cursor pasa sobre el enlace */
  text-decoration: underline; /* Subrayado al pasar el cursor */
}


/* HAGO QUE LAS NOTAS ENTRE SECCIONES ESTEN MAS CERCA */

.image-item img {
  height: auto; /* Elimina la altura fija para que las imágenes se adapten automáticamente */
  object-fit: contain; /* Asegura que la imagen completa sea visible sin recortes */
}

section#portfolio {
  margin-bottom: 10px; /* Ajusta este valor según el espacio que desees */
  padding: 10px; /* Puedes también reducir el padding si es necesario */
}

/*CAMBIO EL COLOR DE LOS LINKS VER NOTA COMPLETA EN LA SECCIÓN BLOG*/

#portfolio a {
color: #ffcc00; /* Cambia a un color que prefieras solo para los enlaces del blog */
text-decoration: none; /* Opcional para quitar el subrayado */
}

#portfolio a:hover {
color: #ffffff; /* Cambio el color cuando el cursor pasa sobre el enlace */
text-decoration: underline; /* Subrayado al pasar el cursor */
}



#objetivo {
  background-color:#0d2f44; /* Color azul */
  padding-bottom: 50px; /* Añade espacio inferior */
  min-height: 50vh; /* O puedes usar min-height para que la sección ocupe toda la pantalla */
}


/* Contenedor de imágenes */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espacio entre imágenes */
}

.image-item {
  width: 45%; /* Las imágenes ocuparán el 45% del contenedor para que haya espacio entre ellas */
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
}

/* Versión móvil: 1 columna centrada */
@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center; /* Centra las imágenes en la vista móvil */
  }

  .image-item {
    width: 100%; /* Las imágenes ocuparán el 100% en móviles, una debajo de la otra */
  }
}

/*CAMBIO EL COLOR DE LOS LINKS VER NOTA COMPLETA EN LA SECCIÓN BLOG*/

#clasedomotica a {
  color: #ffcc00; /* Cambia a un color que prefieras solo para los enlaces del blog */
  text-decoration: none; /* Opcional para quitar el subrayado */
}

#clasedomotica a:hover {
  color: #ffffff; /* Cambio el color cuando el cursor pasa sobre el enlace */
  text-decoration: underline; /* Subrayado al pasar el cursor */
}


/* Contenedor de imágenes */
.pat-naon {
  display: flex;
  justify-content: space-around; /* Distribuye las imágenes con espacio entre ellas */
  flex-wrap: wrap; /* Permite que las imágenes se ajusten en pantallas más pequeñas */
  gap: 0px; /* Añade espacio entre las imágenes */
  margin-top: -5px;
}

.image-pat {
  text-align: center; /* Centra la descripción con respecto a la imagen */
  max-width: 40%; /* Ajusta el ancho máximo de cada imagen y descripción */
}

.image-pat img {
  width: 100%; /* La imagen ocupa todo el ancho del contenedor */
  height: 500px; /* La altura se ajusta automáticamente */
  aspect-ratio: 16 / 10.7; /* Establece una proporción de aspecto uniforme */
  object-fit: contain /* Recorta la imagen si es necesario para que encaje en la proporción */
  margin-top: 15px;
}

/* Estilo responsivo para móviles */
@media (max-width: 768px) {
  .image-pat {
    max-width: 100%; /* Las imágenes ocupan el ancho completo en pantallas pequeñas */
    flex-direction: column; /* Coloca las imágenes una debajo de la otra en dispositivos móviles */
  }
}

/*FERIA DE CIENCIAS*/

#primer-feria-ciencias a {
  color: #ffcc00; /* Cambia a un color que prefieras solo para los enlaces del blog */
  text-decoration: none; /* Opcional para quitar el subrayado */
}

#primer-feria-ciencias a:hover {
  color: #ffffff; /* Cambio el color cuando el cursor pasa sobre el enlace */
  text-decoration: underline; /* Subrayado al pasar el cursor */
}

.videos-feria-ciencias {
  display: flex;
  justify-content: center;  /* Centramos los videos */
  gap: 20px;                /* Espacio entre los videos */
  flex-wrap: nowrap;          /* Permite que los videos NO se vayan a una nueva línea */
  margin: 20px 0;
}

.video-feria2024 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align:center;       /* Centra el texto dentro del contenedor */
}

.video-horizontal-feria2024 video {
  width: 90%;  /* Aumenta el tamaño del video horizontal */
  height: auto;
  margin-left: 40px;
  margin-top: 30px;
}

.video-vertical-feria2024 video {
  width: 40%;  /* Mantiene el tamaño del video vertical */
  height: auto;
  margin-left: 220px;
  margin-top: -60px;
}

/* Media query para ajustar solo la versión móvil */
@media (max-width: 768px) {
  .videos-feria-ciencias {
    flex-direction: column; /* Asegura que los videos se coloquen uno debajo del otro */
    justify-content: center;
    align-items: center;
    gap: 20px; /* Espacio entre videos en móviles */
  }

  .video-horizontal-feria2024 video,
  .video-vertical-feria2024 video {
    width: 100%;  /* Los videos ocuparán el 100% del ancho en móviles */
    height: auto; /* Mantener la relación de aspecto */
    margin: 0;    /* Elimina los márgenes para que ocupe todo el ancho */
  }
}

/* Contenedor de imágenes */
.feria2024 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px; /* Espacio entre imágenes */
  margin-top: 40px;
}

.image-item {
  width: 45%; /* Las imágenes ocuparán el 45% del contenedor para que haya espacio entre ellas */
  margin-bottom: 20px;
}

.image-item img {
  width: 100%;
  height: auto;
  object-fit: cover; /* Ajusta la imagen para cubrir el contenedor sin deformarse */
}

/* Versión móvil: 1 columna centrada */
@media (max-width: 768px) {
  .feria2024 {
    flex-direction: column;
    align-items: center; /* Centra las imágenes en la vista móvil */
  
  }

  .image-item {
    width: 100%; /* Las imágenes ocuparán el 100% en móviles, una debajo de la otra */
   
  }
}



.social-links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-btn {
  background-color: #007BFF;
  color: white;
  padding: 10px 15px;
  margin: 5px;
  text-decoration: none;
  border-radius: 5px;
}

.social-btn:hover {
  background-color: #0056b3;
}

.whatsapp-float {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.whatsapp-float img {
  width: 60px;
}
